<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body {
 background-color: #c8ded1;
}
</style>
<body>

<div ng-app="myApp" ng-controller="formCtrl" class="user_signup">
    <h1 class="page-header">Please Enter Contractor Details</h1>
  <form action = "http://127.0.0.1:8081/cont_signup_get" method = "POST" novalidate class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-4" for="Name">Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="Name" placeholder="Enter Name" name="name" ng-model="cont.Name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4" for="Name">Contractor Unique ID</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="UID" placeholder="Enter Official ID" name="cid" ng-model="cont.oid">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4" for="Name">Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="pass" placeholder="Enter Password" name="password" ng-model="cont.password">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4" for="Name">Confirm password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="cpass" placeholder="Confirm your Password" name="cpassword" ng-model="cont.cpassword">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4" for="Name">Mobile Number</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="mob" placeholder="Enter Mobile Number" name="mobile" ng-model="cont.mobile">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4" for="Name">Email Id</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" id="mail" placeholder="Enter Email ID" name="email" ng-model="cont.email">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-3">
            <input type="submit" ng-click="submit()" value = "SUBMIT" class="btn btn-primary"></button>
            <button type="register" ng-click="reset()" class="btn btn-primary">RESET</button>
        </div>
    </div>
  </form>
  <button type="Home" ng-click="home()" class="btn btn-primary active">Home Page</button>
  <script src="gotohome.js"></script>
</div>

</body>
</html>
