<!DOCTYPE html>
<html>
<head>
	<title>Front Page</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.js"></script>
</head>
<body ng-app="MasterApplication">
	<div ng-controller="MainControl" class="master">
		<h1>Choose Your Department</h1>
		<button ng-click="government()" class="btn btn-default">Government</button>
  		<button ng-click="contractor()" class="btn btn-default">Contractor</button>
  		<button ng-click="user()" class="btn btn-default">User</button>
  		<script src="home.js"></script>
	</div>
</body>
</html>